[submodule "A"]
	path = A
	url = git@github.com:EECS4413-2021F/Module-A.git
[submodule "B"]
	path = B
	url = git@github.com:EECS4413-2021F/Module-B.git
[submodule "C"]
	path = C
	url = git@github.com:EECS4413-2021F/Module-C.git
[submodule "D"]
	path = D
	url = git@github.com:EECS4413-2021F/Module-D.git
